@page "/"
@inject KeyboardService KeyboardService

<PageTitle>Gustavo Furtado</PageTitle>

<div class="content">
    <div class="about-me">
        <h1>
            Gustavo Furtado
        </h1>

        <Stickman/>

        <h2 id="role" class="collider">
            Desenvolvedor Backend
        </h2>
        <div class="profile">
        </div>
        <BR>
        <div class="title">
            <h2>Sobre mim</h2>
            <div class="description">
                <p>
                    ㅤTudo bem? Sou desenvolvedor backend preparado para solucionar vários tipos de problemas, tenho capacidade de aprender de maneira rápida novas tecnologias. <br>ㅤEstou sempre procurando melhorar minhas aplicações, bem como criar novas aplicações
                </p>
            </div>
        </div>
        <div class="tecnologies">
            <h2>Principais Tecnologias</h2>
            <div class="description">
                @foreach (var tech in Tecnologies)
                {
                    <a href="@tech">
                        <img src="@tech" />
                    </a>
                }
            </div>
        </div>
        <div class="projects">
            <h2>Projetos</h2>
            <div class="description">
                @foreach (var project in Projects)
                {
                    <div class="project">
                        <h3>- @project.Name</h3>
                        <a href="@project.Link" target="_blank">
                            <img src="@project.Image" />
                        </a>
                        <BR>
                        <p>@project.Description</p>
                    </div>
                }
            </div>
        </div>
        <br />        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

    </div>
</div>

<style>
    * {
        font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .stickman-container {
        position: absolute;
        width: 50px;
        height: 100px;
        z-index: 100;
    }

    .stickman-body {
        width: 30px;
        height: 50px;
        background-color: black;
        position: absolute;
        top: 20px;
        left: 10px;
    }

    #role {
        margin-top: 15vh;
    }

    .topbar {
        background-color: rgb(78, 9, 66);
        color: white;
        padding: 18px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        width: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        height: 60px;
        z-index: 9999;
    }

    .name {
        font-size: 20px;
    }

    .content {
        text-align: center;
    }

    .title {
        padding-top: 1vh;
        color: initial;
        color: rgb(78, 9, 66);
        padding-left: 25%;
        text-align: left;
    }

    .tecnologies {
        display: flex;
        flex-direction: column;
        padding-top: 1vh;
        color: rgb(78, 9, 66);
        padding-left: 25%;
        text-align: left;
    }

    .tecnologies .description a img {
        width: 5vmin;
        height: 5vmin;
        margin-left: 0.5vw;
    }

    .projects {
        padding-top: 1vh;
        color: rgb(78, 9, 66);
        padding-left: 25%;
        text-align: left;
    }

    .project {
        margin-left: 2vw;
    }

    .project img {
        margin-left: 1vw;
        border: 1px solid rgb(78, 9, 66);
        border-radius: 5px;
    }

    .project p {
        margin-top: 1vh;
        margin-left: 1vw;   
    }

    .description {
        padding-top: 1vh;
    }

    .title .description {
        max-width: 75%;
    }

    .project a img {
        width: 40vw;
        height: 40vh;
    }

</style>

@code {

    private List<String> Tecnologies = new List<String>
    {
        "https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg",
        "https://raw.githubusercontent.com/devicons/devicon/master/icons/git/git-original.svg",
        "https://raw.githubusercontent.com/devicons/devicon/master/icons/blazor/blazor-original.svg",
        "https://raw.githubusercontent.com/devicons/devicon/master/icons/dotnetcore/dotnetcore-original.svg",
        "https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg",
    };

    private class Project
    {
        public string Name { get; set; }
        public string Link { get; set; }
        public string Description { get; set; }
        public string Image { get; set; }
    }

    private List<Project> Projects = new List<Project>
    {
        new Project { Name = "Virtual Store API", Link = "https://github.com/GustavoFurtad2/VirtualStore", Description = "Uma API de gerenciamento de produtos para uma loja virtual", Image = "virtual_store.png"}
    };

}
